@CHARSET "ISO-8859-1";
@font-face {
	font-family: "Lao UI";
	src: url('LaoUI.ttf');
	font-weight: normal;
}

@font-face {
	font-family: "Lao UI";
	src: url('LaoUIb.ttf');
	font-weight: bold;
}

body {
	font-size: 12px;
	margin: 0;
	font-family: "Lao UI", "Arial", "sans-serif";
	background-color:#E0E0E0;
}

a, a:visited {
	text-decoration: none;
	color: blue;
}

div#centeringDiv {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	width: 980px;
	min-height: 60px;
	background-color: white;
}

/* header styles */
div#header {
	height: 240px;
	position: relative;
	background-color: #692079;
}

div#headerLogo {
	float: left;
	padding: 6px;
	width: 160px;
}

div#headerLogo img {
	width: inherit;
}

div#headerBanner {
	position: relative;
	margin-left: 6px;
	float: left;
	width: 802px;
}

/* menu bar */
div#topMenuBar {
	background-color: #307920;
	font-size: 18px;
	height: auto;
	margin-top: 0px;
	margin-bottom: 0px;
}

ul#topMenuBarLinks {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 36px;
	list-style-type: none;
	padding: 0px 0px;
}

ul#topMenuBarLinks li {
	display: inline;
	padding: 0px 0px;
	margin: 0px;
}

ul#topMenuBarLinks a {
	text-decoration: none;
	color: black;
	padding: 0px 8px;
	min-width: 80px;
	margin: 0px;
}

ul#topMenuBarLinks a:hover {
	background-color: #692079;
}

div#bannerText {
	font-size: 40px;
	text-align: center;
	margin-top: 10%;
}

span#dulce{
	font-family: 'Times New Roman', Times, serif; 
	font-size:40px; 
	text-transform:uppercase; 
	font-weight:bold;
}

/* body elements styles */
div#main {
	height: auto;
	position: relative;
	clear: both;
}

div#imageSlidesHolder {
	margin: 8px 52px;
	height: 240px;
	background-color: gray;
}

div#pageContents {
	margin-left: 20px;
	margin-right: 20px;
	position: relative;
	width: inherit;
}

div.contentColumn {
	float: left;
	height: auto;
}

div#leftColumn {
	width: 160px;
	border-right:solid 1px black;
}

div#centerColumn {
	width: 520px;
	padding: 0px 20px;
	text-align:justify;
}

div#rightColumn {
	width: 200px;
}

div#leftColumn div {
	
}

form#loginForm input[type="submit"], form#loginForm input[type="button"] {
	font-family: 'Lao UI','Arial','sans-serif';
	border: 0px;
	background-color: #307920;
	font-size: 14px;
	color: white;
	padding: 4px 6px;
}

div#homeTagline {
	text-align: center;
}

/* footer styles */
div#footer {
	margin-left: auto;
	margin-right: auto;
	clear: both;
	text-align: center;
	font-size: 14px;
}

div#footer ul#footerLinksList {
	list-style-type: none;
}

ul#footerLinksList li {
	display: inline;
}




